#loading-screen{
    width: 100vw;
    height: 100vh;
    background: rgb(47,72,88);
    background: linear-gradient(0deg, rgba(47,72,88,1) 0%, rgba(242,112,128,1) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-loading;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;
}

.loading-icon{
    i{
        font-size: 3rem;
        transform-origin: center;
        animation: rotation 2s infinite linear; 
        margin-bottom: 20px;
    }
    margin-top: 10vh
}



@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .loading-title{
    h1{
        font-size: 3rem;
    }
    margin-bottom: 10vh;
  }