#menu-bar{
    width: 100vw;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($darkblue, 0.8);
    color: white;
    z-index: $z-menu-bar;
}

#mobile-logo{
    img{
        width: 100%;
    }
}


#wrapper{
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: $z-menu-open;
    transition: all 0.5s;
}

#menu{
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    background: rgba($darkblue, 0.7);
    z-index: $z-menu-open;
    transition: all 0.5s;
    @include mQ ($md){
        width: 50vw;
    }
    @include mQ ($lg){
        width: 30vw;
    }
    @include mQ ($xxl){
        width:15vw;
    }
}
#menu-logo{
    padding: 5vh 0;
    img{
        width: 30vw;
        height: 30vw;
        @include mQ ($md){
            width: 20vw;
            height: 20vw;
        }
        @include mQ ($lg){
            width: 10vw;
            height: 10vw;
        }
        @include mQ ($xxl){
            width: 8vw;
            height: 8vw;
        }
    }
}
#menu-links{
    text-align: center;
    a{
        display: inline-block;
        width: auto;
        margin-bottom: 7px;
        @include mQ ($md){
            margin-bottom: 10px;
        }
    }
}


/* -------------------------------------------------------------------------- */
/*                            Other pages Headings                            */
/* -------------------------------------------------------------------------- */
#site-title{
    background: $lightblue;
    padding-top: 4rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    border-radius: 0 0 1rem 1rem;
    @include mQ ($md){
        margin-bottom: 6rem;
    }
    @include mQ ($xxl){
        padding-top: 5rem;
        margin-bottom: 5rem;
    }
}