/* -------------------------------------------------------------------------- */
/*                                    Fonts                                   */
/* -------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
$mont: 'Montserrat', sans-serif;
$m-medium: 500;
$m-bold: 700;
$source: 'Source Sans Pro', sans-serif;
$light: 300;
$regular: 400;
$bold: 700;


/* -------------------------------------------------------------------------- */
/*                                   Z Index                                  */
/* -------------------------------------------------------------------------- */
$z-back: -10;
$z-temp-front: 11;
$z-loading: 10;
$z-menu-open: 9;
$z-menu-bar: 8;
$front: 7;


/* -------------------------------------------------------------------------- */
/*                                   Colours                                  */
/* -------------------------------------------------------------------------- */
$pink: #F27080;
$orange: #F6AE2D;
$lightblue: #86BBD8;
$blue: #33658A;
$darkblue: #2F4858;


$color-list: (
    pb-pink: #F27080,
    pb-orange: #F6AE2D,
    pb-lightblue: #86BBD8,
    pb-blue: #33658A,
    pb-darkblue: #2F4858,
);

@each $name, $color in $color-list {
    .bg-#{$name}{background-color: $color;}
    .text-#{$name}{color: $color;}
}


/* -------------------------------------------------------------------------- */
/*                                 Breakpoints                                */
/* -------------------------------------------------------------------------- */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 2500px;


